:root {
    --bg-color: #ff46a9;
    --dot-color: #ffa0d7;
    --container-bg: #ff1493;
    --button-bg: #ff69b4;
    --text-color: #ffffff;
    --mute-bg-color: #ff69b4;
    --mute-btn-hover-bg: #ff1493;
}

body{
    background-color: var(--bg-color);
    background-image: radial-gradient(var(--dot-color) 4px, transparent 3px);
    background-size: 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
}
.clock-container{
    background-color: var(--container-bg);
    padding: 1rem 4rem;
    border-radius: 50px;
    box-shadow: 0 15px 35px rgba(90, 14, 61, 0.4);
    border: 8px solid white;
}

.button-group {
    display: flex;
    gap: 20px;
}

#clock-display {
    color: var(--text-color);
    font-size: 7rem; 
    font-weight: bold; /*1rem = 16px.makes your clock more accessible for people who change their browser's default text size!*/
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#mute-btn{
    margin-top: 0px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: var(--mute-bg-color);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    font-size: large;
}

#mute-btn:hover{
    background-color: var(--mute-btn-hover-bg);
    transform:scale(1.1);
}

#format-btn{
    margin-top: 0px;
    padding: 10px 20px;
    background-color: #ff69b4;
    color: #ffffff;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    font-size: large;
}

#format-btn:hover{
    transform: scale(1.1);
    background-color: #ff1389;
}

.theme-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    background: white;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.theme-select {
    padding: 50px;
    border-radius: 50px;
    border: 10px solid #ccc;
    cursor: pointer;
    font-family: inherit;
}